{% extends "base_djangomicroservices.html" %}
{% load static %}
{% load i18n %}

{% block html_title %}
{% trans 'User page' %}
{% endblock %}

{% block html_description %}
{% trans 'User page: is the page' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <h1 style="padding: 20px; margin: 0px; background-color: #4e73df; color: white;">Usuario</h1>
    <p>{{ user }}</p>
{% endblock %}