{% extends "base_djangomicroservices.html" %}
{% load static %}
{% load i18n %}

{% block html_title %}
{% trans 'Users' %}
{% endblock %}

{% block html_description %}
{% trans 'Users' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>No Documento</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Cargo</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    {% for user in users.data %}
    {% if user.is_active %}
    <tr>
        <td>{{ user.type_document }} {{ user.document_number }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</a></td>
        <td>{{ user.cell_phone }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% else %}



    {% endif %}
    {% endfor %}
</table>
{% if users.count > 1 %}
<div class="page">
    {% if users.page > 1 %}<button onclick="location.href='./?page={{ users.prev }}';">Prev</button>{% endif %} <p>{{ users.page }}/{{ users.pages }}</p> {% if users.page < users.pages %}<button onclick="location.href='./?page={{ users.next }}';">Next</button>{% endif %}
</div>
{% endif %}
{% endblock %}
