{% load static %}
{% load i18n %}

{% block html_title %}
<link rel="icon" href="{% static 'backend_for_frontend_MS/img/favicon.ico' %}" type="image/x-icon" sizes="16x16">
{% trans 'Inicio' %}
{% endblock %}

{% block css %}
<link type='text/css' rel="stylesheet" href="{% static 'backend_for_frontend_MS/css/login.css' %}" />
<script src="{% static 'backend_for_frontend_MS/js/log.js' %}"></script>
{% endblock %}

{% block content %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Django micro Services</title>
</head>

<body>
    <div id="wrapper" class="wrapper">
        <div class="item">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                    <div id="tester" class="log-in">
                        <div class="menu">
                            <h1 class="sign">Iniciar sesion</h1>
                            <h2 class="user">Usuario(E-mail)</h2> {{ form.username }}
                            <h2 class="password">Contraseña</h2> {{ form.password }}
                        </div>
                        <div class="menu-enter">
                            <button id="Login" type="submit" >{% trans 'Enter' %}</button>
                        </div>
                        {% if request.message %}
                        <p id='message'>{{request.message}}</p>
                        {% elif form.errors %}
                        <p id="error">{% trans 'Your username and/or password is incorrect.' %}</p>
                        {% endif %}
                    </div>
            </form>
        </div>
    </div>
</body>

</html>
