{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="{% static 'backend_for_frontend_MS/img/favicon.ico' %}" type="image/x-icon" sizes="16x16">
        <title>{% block html_title %}{{ request.user.branding }}{% endblock %}</title>
        <meta name='description' content="{% block html_description %}{{ request.user.branding }}{% endblock %}">
        <!-- Company branding -->
        {% with 'backend_for_frontend_MS/images/favicon/'|add:request.user.branding|add:'.ico' as company_favicon %}
        <link rel="shortcut icon" href="{% static company_favicon %}" />
        {% endwith %}
        {% block static_base %}{% endblock %}
        {% with 'backend_for_frontend_MS/css/'|add:request.user.branding|add:'.css' as company_css %}
        <link type='text/css' rel='stylesheet' href="{% static company_css %}" />
        {% endwith %}
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block wrapper %}{% endblock %}
        </div>
        <div id="conten" class="content">
            {% block content %}{% endblock %}
        </div>
        {% block js %}{% endblock %}
    </body>
</html>