.content {
    padding: 0px 20px;
    margin-top: 60px;
    transition: 0.8s;
    grid-template-columns: 1fr 1fr;
    margin-left: 250px;
    grid-auto-rows: 300px;
    background-color: whitesmoke;
}

@media screen and (max-width: 1040px) {
    .content {
        background-color: whitesmoke;
        grid-auto-rows: 300px;
        grid-template-columns: 1;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .content {
        grid-auto-rows: 300px;
        grid-template-columns: 1fr;
        background-color: whitesmoke;
    }
}